* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
header nav ol {
  display: flex;
  gap: 40px;
}
header nav li {
  display: block;
  color: black;
}
header .logo svg {
  height: 20px;
}

header a {
  color: inherit;
}
header > div {
  display: flex;
  gap: 10px;
}
header button {
  cursor: pointer;
}
header .log-in {
  border: 0;
  background: none;
  text-transform: capitalize;
}
header .sign-up {
  border: 0;
  background: #59990f;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  transition-duration: 1s;
}
header .sign-up:hover {
  background: #72c01a;
}

/* main */
main{
    padding: 5%;
}
main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background: #f5efb5;
background: linear-gradient(90deg, rgba(245, 239, 181, 1) 0%, rgba(201, 230, 195, 1) 100%);
    padding: 25px;
    border-radius: 20px;
}

main .hero p{
    font-size: 2em;
    font-weight: bold;
}

main .hero a{
    color: inherit;
    text-decoration: underline;
    margin-right: 5px;
}